//import variables.scss
@use 'variables.scss';
@use 'queries.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//header
.header{
    background-color: #f4845f;
    .row {
        img.header-img {
            width: 100%;
            max-width: 30%;
            height: auto;
        }
        form{
            input{
                background-color: black;
                color: white;
            }
            input::placeholder{
                background-color: black;
                color: white;
            }
        }
    }
}

//main
.main{
    .row{
        background-color: #5b1f52;
        .col-main{
            padding: 10px;
            .card{
                background-color: white;
                padding: 15px;
                .card-icons{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    h4{
                        margin: 0;
                    }
                    .buttons{
                        button{
                            width: 100%;
                            max-width: 10%;
                            padding: 5px;
                            margin-left: 10px;
                            border-radius: 50%;
                            background-color:transparent;
                            border: none;
                        }
                    }
                }
                .card-body{
                    background-color: whitesmoke;
                    border-radius: 20px;
                }
            }
        }
    }
}

//Background Effect
//gradient background for Logo
.gradient-bkgr {
    background: linear-gradient(20deg, #91467a, #e45449, #fdd0a1);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }