---

---

<div class="container main">
    <div class="kanban">
        <!--Wish List Block -->
        <div class="block" id="wish" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h4>Wish List</h4>
            <div class="task-block">
                <button id="task-button" onclick="newTask()">
                    New Task
                </button>
            </div>
            <!--Task1 -->
            <div class="task" id="task1" draggable="true" ondragstart="drag(event)">
                <h6>Task1</h6>
            </div>
        </div>

        <!--In Progress Block -->
        <div class="block" id="inprogress" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h4>In Progress</h4>
        </div>

        <!--Done -->
        <div class="block" id="done" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h4>Done</h4>
        </div>

        <!--New Task Block -->
        <div class="new-task-block" id="new-task-block">
            <h5>New Task</h5>
            <span class="form-row">
                <label class="form-row-label" for="task-title">Title</label>
                <input class="form-row-input" type="text" name="task-title" id="task-title">
            </span>
            <span class="form-row">
                <label class="form-row-label" for="task-title">Description</label>
                <textarea class="form-row-input" name="task-description" id="task-description" cols="70" rows="10"></textarea>
            </span>
            <span class="form-row">
                <label class="form-row-label" for="task-title">Status</label>
                <select class="form-row-input" name="task-status" id="task-status">
                    <!--Options -->
                    <option value="wish">Wish List</option>
                    <option value="inprogress">In Progress</option>
                    <option value="done">Done</option>
                </select>
            </span>

            <span class="form-row-buttons">
                <button id="edit-button" onclick="editTask()">Edit</button>
                <button id="save-button" onclick="saveTask()">Save</button>
                <button id="cancel-button" onclick="cancelTask()">Cancel</span>
            </span>
        </div>
    </div>
</div>