---
---
<div class="container main">
    <div class="row align-items-start">
        <div class="col col-main">
            <div class="card">
                <div class="card-icons">
                    <h4>Wish List</h4>
                    <div class="buttons">
                        <button class="icon-plus">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button class="icon">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Example</h5>
                    <p class="card-text">Notes go here</p>
                </div>
            </div>
        </div>
        <div class="col col-main">
            <div class="card">
                <div class="card-icons">
                    <h4>In Progress</h4>
                    <div class="buttons">
                        <button class="icon-plus">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button class="icon">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Example</h5>
                    <p class="card-text">Notes go here</p>
                </div>
            </div>
        </div>
        <div class="col col-main">
            <div class="card">
                <div class="card-icons">
                    <h4>Done</h4>
                    <div class="buttons">
                        <button class="icon-plus">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button class="icon">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title Example</h5>
                    <p class="card-text">Notes go here</p>
                </div>
            </div>
        </div>
    </div>
</div>