---

---
<div class="container kanban">
    <!--Heading -->
    <div class="kanban-heading">
        <h3 class="title">Welcome</h3>
    </div>
    <!--board -->
    <div class="board">
        <div class="block" id="wish" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h4>Wish List</h4>
            <div class="button-block">
                <button id="btn-block" onclick="createTask()">New Event</button>
            </div>
            <!--Task 1 -->
            <div class="task" id="task1" draggable="true" ondragstart="drag(event)">
                <h5>Event 1</h5>
            </div>
        </div>
        <!--In progress -->
        <div class="block" id="inprogress" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h4>In Progress</h4>
        </div>
        <!--Done -->
        <div class="block" id="done" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h4>Done</h4>
        </div>
        <!--New task -->
        <div class="new-task-block" id="new-task">
            <h6>New Event</h6>
            <span class="form-row">
                <label class="form-row-label" for="form-row-name">Event Name</label>
                <input class="form-row-input" type="text" name="form-row-name" id="form-row-name">
            </span>
            <span class="form-row">
                <label class="form-row-label" for="form-row-name">Description</label>
                <textarea class="form-row-input" name="description" id="description" cols="70" rows="10"></textarea>
            </span>
            <span class="form-row">
                <label class="form-row-label" for="form-row-name">Status</label>
                <!--Select Menu -->
                <select class="form-row-input" name="status" id="status">
                    <!--Options -->
                    <option value="wish">Wish</option>
                    <option value="inprogress">In Progress</option>
                    <option value="done">Done</option>
                </select>
            </span>
            <!--Buttons -->
            <span class="form-row-buttons">
                <button id="edit-btn" onclick="editTask()">Edit</button>
                <button id="save-btn" onclick="saveTask()">Save</button>
                <button id="cancel-btn" onclick="createTask()">Cancel</button>
            </span>
        </div>
    </div>
</div>
