---
---
<header class="pt-3 pb-3 gradient-bkgr">
  <div class="container">
  
    <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
      <img src="/images/logo.png" alt="chillin vancouver logo" class="order-lg-1 mx-auto">

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 order-lg-3" role="search">
        <input type="search" class="form-control form-control-dark" placeholder="Search your event..." aria-label="Search">
      </form>
    </div>
  </div>
</header>