---
---
<div class="container header gradient-bkgr">
  <div class="row align-items-center justify-content-center justify-content-lg-start">
    <div class="col">
      <img class="header-img" src="/images/logo.png" alt="chilling vancouver logo">
    </div>

    <div class="col-5">

    </div>

    <div class="col">
      <form class="col-12 col-lg-auto mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search your event..." aria-label="Search">
      </form>
    </div>
  </div>
</div>